.banner-img {
  -webkit-animation: slide-top 0.8s linear infinite alternate both;
  animation: slide-top 0.8s linear infinite alternate both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
  }
}
